{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "semi": [2, "never"],
    "import/prefer-default-export": [0, "never"],
    "arrow-parens": 0,
    "react/no-unused-prop-types": 0,
    "jsx-a11y/no-static-element-interactions": 0,
  },
  "settings": {
    "import/resolver": "webpack"
  }
}
