@import "normalize";

// colors

$white: #fafafa;
$light-grey: #777;
$lighter-grey: #555;
$grey: #444;
$dull-grey: #333;
$dark-grey: #222;
$base-color: $white;
$black: #000;

// constants

$large: 1.5em;
$horizontal-spacing: 20px;
$comments-width: 300px;
$header-height: 60px;

$size-l: 1.4em;

// mixins

@mixin scrollbars(
  $size,
  $foreground-color,
  $background-color: darker($foreground-color, 20%)
) {
  ::-webkit-scrollbar {
      width:  $size;
      height: $size;
  }

  ::-webkit-scrollbar-thumb {
      background: $foreground-color;
  }

  ::-webkit-scrollbar-track {
      background: $background-color;
  }

  // For Internet Explorer
  body {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

// tags

h1, h2, h3, h4, h5, p {
  padding: 0;
  margin: 0;
}

html, body, #root, .App, .Room, .Seats {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: $base-color;
  background-color: $dark-grey;
}

a {
  color: $base-color;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}

img {
  vertical-align: middle;
}

input {
  padding: 9px;
  outline: none;
  border: none;
  background-color: $dark-grey;

  &:not(.u-bare) {
    /* border: 1px solid $subtle-grey-color; */

    /* &:focus { */
    /*   border-color: $blue-color; */
    /*   box-shadow: 0 0 1px 2px rgba($blue-color, 0.25); */
    /* } */
  }
}

@include scrollbars(.5em, $light-grey);

// components

.Home {
  text-align: center;
  padding-top: 100px;

  h1 {
    font-size: 100px;
  }

  p {
    padding: 20px 0 90px;
    font-size: 20px;
  }
}

.Button {
  display: inline-block;
  background-color: #00aced;
  outline: none;
  padding: 9px;
  vertical-align: middle;
  color: #fff;
  border-radius: 4px;
  font-weight: bold;
  padding-left: 18px;
  padding-right: 18px;
  position: relative;

  .Icon {
    margin-right: 8px;
  }
}

.Room {
  &__title {
    font-size: $large;
    margin-right: $horizontal-spacing;

    form {
      display: inline;
    }
  }

  &__header {
    line-height: $header-height;
    vertical-align: middle;
    height: $header-height;
    border-bottom: 1px solid $grey;
    padding-left: $horizontal-spacing;
    box-sizing: border-box;

    .User__icon {
      vertical-align: middle;
    }
  }

  &__content {
    position: relative;
    height: calc(100% - #{$header-height});
    width: calc(100% - #{$comments-width});
  }
}

.Viewers {
  display: inline;

  &__count {
    margin-right: $horizontal-spacing;

    .Icon {
      margin-right: 4px;
    }
  }
}

.Comments {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: $dark-grey;
  border-left: 1px solid $grey;
  width: $comments-width;
  display: flex;
  flex-direction: column;

  &__title {
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    height: $header-height;
    line-height: $header-height;
    margin: 0 15px;
    border-bottom: 1px solid $grey;
    box-sizing: border-box;
  }

  &__list {
    flex-grow: 1;
    padding: 0 15px;
    padding-top: 15px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  &__input {

    input {
      width: 100%;
      padding: 15px;
      background-color: $grey;
      color: $white;
    }
  }

  .Comment, .EventNotice {
    margin-bottom: 15px;
  }
}

.User{

  &__icon {
    border-radius: 3px;
  }
}

.Seats {
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

.Seat {
  $border-radius: 4px;
  border-radius: $border-radius;
  position: relative;
  margin: 12px;
  vertical-align: middle;

  &__user {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: $border-radius;

    .User {
      margin-right: 10px;
    }

    .User__icon {
      height: 32px;
      width: 32px;
    }
  }

  video {
    height: 100%;
    width: 100%;
    border-radius: $border-radius;
  }

  &--opaque {
    box-shadow: 0 0 6px rgba($black, 0.58);
  }
}

.CallersPanel {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.EmptySeat {
  border: 2px dashed $grey;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  &__waiting {
    font-size: $size-l;
  }
}

.Comment {
  display: flex;

  &__content {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }

  .Username {
    margin-bottom: 3px;
  }
}

.EventNotice {
  background-color: $dull-grey;
  border-radius: 4px;
  margin-bottom: 15px;
  padding: 10px;
}
